label{
  font-family: 'Open Sans', sans-serif;
  color: rgb(128, 128, 128);
}
h4{
  margin: 10px;
}
.form{
  padding: 20px;
  background-color: rgb(235, 235, 235);
  font-family: 'Open Sans', sans-serif;
}
.field {
  margin: 10px;
}
.input{
  width: 100%;
  padding-left: 3px;
  outline-color: rgb(137, 210, 195);
}
.btn{
  margin-top: 20px;
  outline-color: rgb(137, 210, 195);
}
.btn:active{
  outline-color: rgb(137, 210, 195);
}
